{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <div class="entrance">
        <h1>Change your password</h1><br>
        {% if error %}
            <h3 id="error" style="display: none;">
                {{ error }}
            </h3><br>
        {% elif success %}
            <h3 id="success" style="display: none;">
                {{ success }}
            </h3>
        {% endif %}
        <form name="change_password" action="/change_password" onsubmit="return check_new_password('change_password')" method="post">
            <div>
                <input class="input field" name="old_password" placeholder="Old password" autocomplete="off" autofocus type="password" required>
            </div>
            <div>
                <input class="input field" name="password" placeholder="New password" type="password" required>
            </div>
            <div>
                <input class="input field" name="confirmation" placeholder="Confirm new password" type="password" required>
            </div><br>
            <button class="btn btn-success" type="submit"><i class="fa fa-key" aria-hidden="true"></i> Change</button>
        </form>
    </div>
{% endblock %}