{% extends "layout.html" %}

{% block title %}
    Select location
{% endblock %}

{% block main %}
    <div class="entrance">
        {% if new_locations %}
        <h1>Move "{{ title }}" to a new location</h1><br><br>
        <form action="/select_location_for_{{ title }}" method="post">
            <select class="form-select book_settings" name="new_location" required>
                <option value="" selected>Select new location</option>
                {% for location in new_locations %}
                    <option value="{{ location }}">{{ location }}</option>
                {% endfor %}
            </select><br><br>
            <button class="btn btn-success" type="submit" value="upload">
                <i class="fa fa-arrows" aria-hidden="true"></i> Move 
            </button>
        </form>
        {% else %}
            <h1>Add new location</h1><br><br>
            <button class="btn btn-success black_link">
                <a class="white_link" href="/locations">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> Add
                </a>
            </button>
        {% endif %}
    </div>
{% endblock %}